### Let's train another model but this time let's use the log(10) of the valuation as the predictor. That way it will estimate the number of digits in the valuation instead of the absolute valuation, which is more appropriate

### In this case we will build a decision tree

In [1]:
import pandas as pd

In [2]:
pd.set_option("display.max_columns", None)
startups = pd.read_csv("../../notebooks/Web_scraping/datasets/startups_with_valuation_temp.csv")

In [3]:
startups.head()

,Unnamed: 0,permalink,name,market,funding_total_usd,status,country_code,city,funding_rounds,founded_at,founded_year,first_funding_at,last_funding_at,seed,venture,equity_crowdfunding,convertible_note,debt_financing,angel,grant,private_equity,post_ipo_equity,post_ipo_debt,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H,delta_founded_vs_firstfunding,valuation
0,0,/organization/waywire,#waywire,News,1750000,acquired,USA,New York,1.0,2012-06-01,2012.0,2012-06-30,2012-06-30,1750000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29.0,NaN
1,3,/organization/in-touch-network,(In)Touch Network,Electronics,1500000,operating,GBR,London,1.0,2011-04-01,2011.0,2011-04-01,2011-04-01,1500000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,4,/organization/r-ranch-and-mine,-R- Ranch and Mine,Tourism,60000,operating,USA,Fort Worth,2.0,2014-01-01,2014.0,2014-08-17,2014-09-26,0.0,0.0,60000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,228.0,NaN
3,8,/organization/004-technologies,004 Technologies,Software,0,operating,USA,Champaign,1.0,2010-01-01,2010.0,2014-07-24,2014-07-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1665.0,NaN
4,10,/organization/1-2-3-listo,"1,2,3 Listo",E-Commerce,40000,operating,CHL,Las Condes,1.0,2012-01-01,2012.0,2013-02-18,2013-02-18,40000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,414.0,NaN

In [4]:
startups.shape

(30491, 35)

In [5]:
startups = startups[startups["valuation"].notnull()]

In [6]:
startups.shape

(19809, 35)

In [7]:
def valuation_cleaner(x):
    if "—" in x:
        a = x.split("—")
        return a[1]
    else:
        return x

In [9]:
startups["valuation"] = startups["valuation"].apply(valuation_cleaner)

In [10]:
startups.head()

,Unnamed: 0,permalink,name,market,funding_total_usd,status,country_code,city,funding_rounds,founded_at,founded_year,first_funding_at,last_funding_at,seed,venture,equity_crowdfunding,convertible_note,debt_financing,angel,grant,private_equity,post_ipo_equity,post_ipo_debt,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H,delta_founded_vs_firstfunding,valuation
8,15,/organization/10-minutes-with,10 Minutes With,Education,4400000,operating,GBR,London,2.0,2013-01-01,2013.0,2013-01-01,2014-10-09,400000.0,4000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22m
10,17,/organization/1000-corks,1000 Corks,Search,40000,operating,USA,Lake Oswego,1.0,2008-01-01,2008.0,2011-08-23,2011-08-23,40000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1330.0,218k
15,27,/organization/100plus,100Plus,Analytics,1250000,acquired,USA,San Francisco,2.0,2011-09-16,2011.0,2011-11-02,2011-11-30,750000.0,500000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,47.0,136m
16,28,/organization/1010data,1010data,Software,35000000,operating,USA,New York,1.0,2000-01-01,2000.0,2010-03-08,2010-03-08,0.0,35000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3719.0,210m
18,30,/organization/10bestthings,10BestThings,Curated Web,50000,closed,USA,Cleveland,1.0,2009-04-01,2009.0,2009-04-01,2009-04-01,50000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,273k

### Given that we want all the values to be consistent let's show all valuations absolute units

In [11]:
def integer_converter(x):
    if "k" in x:
        valuation = x.replace("k","")
        valuation_clean = valuation.replace("€","")
        return round(float(valuation_clean)*1000)
    elif "m" in x:
        valuation = x.replace("m","")
        valuation_clean = valuation.replace("€","")
        return round(float(valuation_clean)*1000000)
    elif "b" in x:
        valuation = x.replace("b","")
        valuation_clean = valuation.replace("€","")
        return round(float(valuation_clean)*1000000000)

In [12]:
startups["valuation"] = startups["valuation"].apply(integer_converter)

In [13]:
startups.head()

,Unnamed: 0,permalink,name,market,funding_total_usd,status,country_code,city,funding_rounds,founded_at,founded_year,first_funding_at,last_funding_at,seed,venture,equity_crowdfunding,convertible_note,debt_financing,angel,grant,private_equity,post_ipo_equity,post_ipo_debt,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H,delta_founded_vs_firstfunding,valuation
8,15,/organization/10-minutes-with,10 Minutes With,Education,4400000,operating,GBR,London,2.0,2013-01-01,2013.0,2013-01-01,2014-10-09,400000.0,4000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22000000.0
10,17,/organization/1000-corks,1000 Corks,Search,40000,operating,USA,Lake Oswego,1.0,2008-01-01,2008.0,2011-08-23,2011-08-23,40000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1330.0,218000.0
15,27,/organization/100plus,100Plus,Analytics,1250000,acquired,USA,San Francisco,2.0,2011-09-16,2011.0,2011-11-02,2011-11-30,750000.0,500000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,47.0,136000000.0
16,28,/organization/1010data,1010data,Software,35000000,operating,USA,New York,1.0,2000-01-01,2000.0,2010-03-08,2010-03-08,0.0,35000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3719.0,210000000.0
18,30,/organization/10bestthings,10BestThings,Curated Web,50000,closed,USA,Cleveland,1.0,2009-04-01,2009.0,2009-04-01,2009-04-01,50000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,273000.0

### I have now converted the valuation to absolute units instead of millions, and will now create a new column with the log of it

In [14]:
startups.drop('Unnamed: 0', axis=1, inplace=True)

In [15]:
import numpy as np

In [16]:
startups["log_valuation"] = round(np.log10(startups["valuation"]), 0)

In [17]:
startups.head()

,permalink,name,market,funding_total_usd,status,country_code,city,funding_rounds,founded_at,founded_year,first_funding_at,last_funding_at,seed,venture,equity_crowdfunding,convertible_note,debt_financing,angel,grant,private_equity,post_ipo_equity,post_ipo_debt,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H,delta_founded_vs_firstfunding,valuation,log_valuation
8,/organization/10-minutes-with,10 Minutes With,Education,4400000,operating,GBR,London,2.0,2013-01-01,2013.0,2013-01-01,2014-10-09,400000.0,4000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22000000.0,7.0
10,/organization/1000-corks,1000 Corks,Search,40000,operating,USA,Lake Oswego,1.0,2008-01-01,2008.0,2011-08-23,2011-08-23,40000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1330.0,218000.0,5.0
15,/organization/100plus,100Plus,Analytics,1250000,acquired,USA,San Francisco,2.0,2011-09-16,2011.0,2011-11-02,2011-11-30,750000.0,500000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,47.0,136000000.0,8.0
16,/organization/1010data,1010data,Software,35000000,operating,USA,New York,1.0,2000-01-01,2000.0,2010-03-08,2010-03-08,0.0,35000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3719.0,210000000.0,8.0
18,/organization/10bestthings,10BestThings,Curated Web,50000,closed,USA,Cleveland,1.0,2009-04-01,2009.0,2009-04-01,2009-04-01,50000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,273000.0,5.0

### Now let's drop the valuation column and use as predictor the log

In [18]:
startups.drop('valuation', axis=1, inplace=True)

### There are some categorical values that I would like to take into account, such as the country or market, for that we will use rank encoding initially

In [19]:
top_20_countries = startups.country_code.value_counts().head(20)

In [20]:
top_20_countries_df = pd.DataFrame(top_20_countries)

In [21]:
top_20_countries_df["rank"] = range(1, len(top_20_countries_df)+1)

In [22]:
top_20_countries_df.drop('country_code', axis=1, inplace=True)

In [23]:
countries = top_20_countries_df.to_dict(orient="index")

In [24]:
countries["USA"]['rank']

1

In [25]:
top_20_countries_list = countries.keys()

In [26]:
def country_ranking(x):
    if x in top_20_countries_list:
        return countries[x]['rank']
    else:
        return 21

In [27]:
ranking_country = []

In [28]:
for i, row in startups.iterrows():
    name = row["country_code"]
    ranking = country_ranking(name)
    ranking_country.append(ranking)

In [29]:
ranking_country[:20]

[2, 1, 1, 1, 1, 12, 1, 12, 1, 21, 15, 1, 11, 1, 1, 1, 8, 1, 1, 1]

In [30]:
startups["country_ranking"] = ranking_country

In [31]:
startups.head()

,permalink,name,market,funding_total_usd,status,country_code,city,funding_rounds,founded_at,founded_year,first_funding_at,last_funding_at,seed,venture,equity_crowdfunding,convertible_note,debt_financing,angel,grant,private_equity,post_ipo_equity,post_ipo_debt,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H,delta_founded_vs_firstfunding,log_valuation,country_ranking
8,/organization/10-minutes-with,10 Minutes With,Education,4400000,operating,GBR,London,2.0,2013-01-01,2013.0,2013-01-01,2014-10-09,400000.0,4000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,2
10,/organization/1000-corks,1000 Corks,Search,40000,operating,USA,Lake Oswego,1.0,2008-01-01,2008.0,2011-08-23,2011-08-23,40000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1330.0,5.0,1
15,/organization/100plus,100Plus,Analytics,1250000,acquired,USA,San Francisco,2.0,2011-09-16,2011.0,2011-11-02,2011-11-30,750000.0,500000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,47.0,8.0,1
16,/organization/1010data,1010data,Software,35000000,operating,USA,New York,1.0,2000-01-01,2000.0,2010-03-08,2010-03-08,0.0,35000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3719.0,8.0,1
18,/organization/10bestthings,10BestThings,Curated Web,50000,closed,USA,Cleveland,1.0,2009-04-01,2009.0,2009-04-01,2009-04-01,50000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,1

### I have elaborated a rank encoding column for the country of each startup based on the frequency of the country within the dataset. Now I will perform the same operation but for the market

In [32]:
top_20_markets = startups.market.value_counts().head(20)

In [33]:
top_20_markets

 Software                2247
 Biotechnology           1683
 Mobile                   913
 Enterprise Software      674
 E-Commerce               673
 Curated Web              649
 Health Care              610
 Hardware + Software      539
 Advertising              488
 Games                    468
 Clean Technology         466
 Health and Wellness      375
 Social Media             364
 Education                333
 Analytics                330
 Finance                  318
 Semiconductors           270
 Security                 267
 Manufacturing            237
 Web Hosting              211
Name: market, dtype: int64

In [34]:
top_20_markets_df = pd.DataFrame(top_20_markets)

In [35]:
top_20_markets_df["rank"] = range(1, len(top_20_markets_df)+1)

In [36]:
top_20_markets_df.drop('market', axis=1, inplace=True)

In [37]:
markets = top_20_markets_df.to_dict(orient="index")

In [38]:
markets[" Finance "]["rank"]

16

In [39]:
top_20_markets_list = markets.keys()

In [40]:
def market_ranking(x):
    if x in top_20_markets_list:
        return markets[x]['rank']
    else:
        return 21

In [41]:
ranking_market = []

In [42]:
for i, row in startups.iterrows():
    name = row["market"]
    ranking = market_ranking(name)
    ranking_market.append(ranking)

In [43]:
ranking_market[:20]

[14, 21, 15, 1, 6, 21, 2, 3, 21, 21, 1, 19, 3, 21, 1, 1, 16, 5, 21, 1]

In [44]:
startups["market_ranking"] = ranking_market

In [45]:
startups.head()

,permalink,name,market,funding_total_usd,status,country_code,city,funding_rounds,founded_at,founded_year,first_funding_at,last_funding_at,seed,venture,equity_crowdfunding,convertible_note,debt_financing,angel,grant,private_equity,post_ipo_equity,post_ipo_debt,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H,delta_founded_vs_firstfunding,log_valuation,country_ranking,market_ranking
8,/organization/10-minutes-with,10 Minutes With,Education,4400000,operating,GBR,London,2.0,2013-01-01,2013.0,2013-01-01,2014-10-09,400000.0,4000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,2,14
10,/organization/1000-corks,1000 Corks,Search,40000,operating,USA,Lake Oswego,1.0,2008-01-01,2008.0,2011-08-23,2011-08-23,40000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1330.0,5.0,1,21
15,/organization/100plus,100Plus,Analytics,1250000,acquired,USA,San Francisco,2.0,2011-09-16,2011.0,2011-11-02,2011-11-30,750000.0,500000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,47.0,8.0,1,15
16,/organization/1010data,1010data,Software,35000000,operating,USA,New York,1.0,2000-01-01,2000.0,2010-03-08,2010-03-08,0.0,35000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3719.0,8.0,1,1
18,/organization/10bestthings,10BestThings,Curated Web,50000,closed,USA,Cleveland,1.0,2009-04-01,2009.0,2009-04-01,2009-04-01,50000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,1,6

### Let's now build the model

In [49]:
from sklearn.tree import DecisionTreeRegressor as DTR
from sklearn.model_selection import train_test_split as tts

In [57]:
startups = startups[startups["log_valuation"].notnull()]

In [58]:
features=['funding_total_usd', 'funding_rounds', 'founded_year', 'delta_founded_vs_firstfunding', 'country_ranking', 'market_ranking']

target = 'log_valuation'

In [59]:
from sklearn.feature_selection import SelectFromModel as SFM

In [60]:
model_tree_1 =DTR()

In [61]:
selector=SFM(model_tree_1, threshold=0.25)

In [62]:
X_train, X_test, y_train, y_test = tts(startups[features], startups[target], test_size=0.2)

In [63]:
selector.fit(X_train, y_train)

SelectFromModel(estimator=DecisionTreeRegressor(), threshold=0.25)

In [66]:
model_tree_1.fit(X_train, y_train)

DecisionTreeRegressor()

In [67]:
model_tree_1.feature_importances_

array([0.72095944, 0.03296354, 0.05173157, 0.12015834, 0.02930183,
       0.04488527])

### Let's create a new df to perform crosstab analysis

In [69]:
startups_2 = startups.copy()

In [72]:
startups_2.drop(['permalink', 'name', 'market','status', 'country_code', 'city', 'founded_at', 'first_funding_at', 'last_funding_at'], axis=1, inplace=True)

In [75]:
X = startups_2.drop("log_valuation", axis=1)
y = startups_2.log_valuation

In [76]:
model_tree_2 = DTR()

In [77]:
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.2)

In [78]:
model_tree_2.fit(X, y)

DecisionTreeRegressor()

In [79]:
startups_2["prediction"] = model_tree_2.predict(X)

In [80]:
startups_3 = startups_2[["log_valuation", "prediction"]].copy()

In [81]:
startups_3["correct"] = (startups_3.log_valuation == startups_3.prediction )

In [85]:
startups_3.sample(20)

       log_valuation  prediction  correct
21514            8.0         8.0     True
7708             5.0         5.0     True
2038             7.0         7.0     True
18094            7.0         7.0     True
26167            7.0         7.0     True
14205            8.0         8.0     True
13799            7.0         7.0     True
11151            7.0         7.0     True
3288             7.0         7.0     True
28182            8.0         8.0     True
17830            8.0         8.0     True
24652            8.0         8.0     True
20547            7.0         7.0     True
14333            8.0         8.0     True
4700             7.0         7.0     True
23121            7.0         7.0     True
28248            7.0         7.0     True
8493             6.0         6.0     True
21803            8.0         8.0     True
16388            7.0         7.0     True

In [86]:
pd.crosstab(
    startups_3.log_valuation,
    startups_3.prediction
)

prediction,3.00,4.00,5.00,5.50,5.75,6.00,6.50,7.00,8.00,9.00,10.00,11.00,12.00
log_valuation,,,,,,,,,,,,,
3.0,4,0,0,0,0,0,0,0,0,0,0,0,0
4.0,0,84,0,0,0,0,0,0,0,0,0,0,0
5.0,0,0,1372,1,1,2,1,0,0,0,0,0,0
6.0,0,0,0,1,3,4118,1,3,0,0,0,0,0
7.0,0,0,0,0,0,2,1,7199,0,0,0,0,0
8.0,0,0,0,0,0,0,1,3,5634,0,0,0,0
9.0,0,0,0,0,0,0,0,0,0,1085,0,0,0
10.0,0,0,0,0,0,0,0,0,0,0,237,0,0
11.0,0,0,0,0,0,0,0,0,0,0,0,50,0
12.0,0,0,0,0,0,0,0,0,0,0,0,0,3